.pageRoot {
  display: flex;
  justify-content: center;
  padding: 30px;
  height: calc(100vh - 150px);
}

.pageContentContainer {
  width: 890px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rightButtonContainer {
  margin-left: auto;
}

.usersList {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 500px;
  width: 100%;
}

.usersListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 16px;
  background-color: #1f2a62;
}

.usersListContent {
  overflow: auto;
  height: calc(100% - 90px);
  padding: 20px 25px;
}

.userRow {
  margin-block: 1px 6px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.userRowInput {
  flex-basis: 22.5%;
}

.errorCountContainer {
  margin-top: 46px;
  padding: 10px;
  border: 1px solid #ffcc00;
  border-radius: 4px;
  background-color: #fff3cd;
  color: #856404;
  font-weight: bold;
  text-align: center;
}

.paginationControls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px; /* Space between the buttons and text */
}

.paginationControls button {
  padding: 8px 16px;
  background-color: #3f51b5; /* You can adjust the color as needed */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.paginationControls button:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

.paginationControls button:hover:not(:disabled) {
  background-color: #303f9f;
}

.paginationControls .MuiTypography-body2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 10px;
}
